{% extends "base.html.twig" %}

{% block title %}
    Category_Add
{% endblock %}

{% block body %}
    <h1>Ajout d'une categorie</h1>

    <div class="container">
        {{ form_start(form) }}
        {{ form_row(form.name) }}
        <button class="btn">{{ button_label|default('Save') }}</button>
        {{ form_end(form) }}
    </div>
{% endblock %}