{% extends "base.html.twig" %}

{% block title %}
    Category
{% endblock %}

{% block body %}
    <h1>Gestion des categories</h1>

    <a href="{{ path('category_add') }}">
        Testing show() method from WildController with a real program s slug.
    </a>
{% endblock %}