@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import "~bootstrap/scss/bootstrap";
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~flag-icon-css/sass/flag-icon';

/* Color */
$primary: rgb(0, 150, 255);
$secondary: rgb(48, 49, 50);

/* Background */
$bg-primary: rgb(246, 246, 246);
$bg-secondary: rgb(255, 255, 255);

/* Font */
$main-font: 'Open Sans', sans-serif;
$main-font-color-light: rgb(255, 255, 255);
$main-font-color-dark: rgb(88, 89, 90);

body {
    background-color: $bg-primary;
    font-family: $main-font;
}

.poster {
    height: 300px;
    width: 300px;
    object-fit: cover;
}

.card-text {
    text-overflow: ellipsis;
}